In [1]:
person = {
    "name": "Efe",
    "age": 36,
    "university": "University of Sussex"
}

## Looping Through a Dictionary

can loop through:

- Keys
- Values
- Key-Value pairs

#### Looping through keys

In [20]:
for key in person:
    print(key)

name
age
university

In [24]:
for key in person.keys():
    print(key)

name
age
university

#### Looping through values

In [29]:
for value in person.values():
    print(value)

Efe
36
University of Sussex

In [31]:
for key in person:
    print(person[key])

Efe
36
University of Sussex

#### Looping through key-value pairs

In [36]:
for key, value in person.items():
    print(f"{key} : {value}")

name : Efe
age : 36
university : University of Sussex

##### .items() returns both key and value for each entry as a tuple.

#### Using .get()