In [5]:
person = {
    "name": "Efe",
    "age": 36,
    "university": "University of Sussex"
}

## Looping Through a Dictionary

can loop through:

- Keys
- Values
- Key-Value pairs

#### Looping through keys

In [7]:
for key in person:
    print(key)

name
age
university

In [9]:
for key in person.keys():
    print(key)

name
age
university

#### Looping through values

In [11]:
for value in person.values():
    print(value)

Efe
36
University of Sussex

In [13]:
for key in person:
    print(person[key])

Efe
36
University of Sussex

#### Looping through key-value pairs

In [15]:
for key, value in person.items():
    print(f"{key} : {value}")

name : Efe
age : 36
university : University of Sussex

**.items() returns both key and value for each entry as a tuple.**

#### Using .get()

**.get(key, default_value) is used when youâ€™re not sure if a key exists.**

In [19]:
print(person.get('name'))
print(person.get('location'))
print(person.get('age'))

Efe
None
36

In [23]:
for key, value in person.items():
    print(key)
    print(value)
    print(person.get(key))
    print("----")

name
Efe
Efe
----
age
36
36
----
university
University of Sussex
University of Sussex
----

#### Looping and Conditional Logic

In [26]:
for key, value in person.items():
    if key == "age":
        print(f"{key} {value} is the person's age")

age 36 is the person's age

In [32]:
for key, value in person.items():
    if isinstance(value, int):
        print(f"{key} is the number: {value}")

age is the number: 36

### Nested Dictionary

In [61]:
students = {
    "Efe": {"age": 36, "course": "AI", "city": "Brighton"},
    "Mina": {"age": 29, "course": "Data Science", "city": "London"},
    "Ali": {"age": 32, "course": "Robotics", "city": "Manchester" }
}

**Each key ("Efe", "Mina", "Ali") maps to another dictionary containing attributes.**

In [64]:
for name, info in students.items():
    print(f"Student: {name}")
    print(f"Age: {info['age']}")
    print(f"Course: {info['course']}")
    print(f"City: {info.get('city', 'Unknown')}")
    print("----")

Student: Efe
Age: 36
Course: AI
City: Brighton
----
Student: Mina
Age: 29
Course: Data Science
City: London
----
Student: Ali
Age: 32
Course: Robotics
City: Manchester
----

In [66]:
for name, attributes in students.items():
    print(f"{name}'s details:")
    for key, value in attributes.items():
        print(f"{key}: {value}")
    print()

Efe's details:
age: 36
course: AI
city: Brighton

Mina's details:
age: 29
course: Data Science
city: London

Ali's details:
age: 32
course: Robotics
city: Manchester

In [68]:
students["Mina"].pop("city")

'London'

In [70]:
for name, info in students.items():
    print(f"{name} is from {info.get('city', 'Unknown')}")

Efe is from Brighton
Mina is from Unknown
Ali is from Manchester

**.get('key', 'default')** prevents KeyError when a key is missing.

#### Update or Add New Attributes While Looping