In [2]:
person = {
    "name": "Efe",
    "age": 36,
    "university": "University of Sussex"
}

## Looping Through a Dictionary

can loop through:

- Keys
- Values
- Key-Value pairs

#### Looping through keys

In [3]:
for key in person:
    print(key)

name
age
university

In [4]:
for key in person.keys():
    print(key)

name
age
university

#### Looping through values

In [5]:
for value in person.values():
    print(value)

Efe
36
University of Sussex

In [6]:
for key in person:
    print(person[key])

Efe
36
University of Sussex

#### Looping through key-value pairs

In [7]:
for key, value in person.items():
    print(f"{key} : {value}")

name : Efe
age : 36
university : University of Sussex

##### .items() returns both key and value for each entry as a tuple.

#### Using .get()

**.get(key, default_value)** is used when you’re not sure if a key exists.

In [8]:
print(person.get("name"))
print(person.get("country"))
print(person.get("country", "UK"))

Efe
None
UK

.get() helps avoid errors if the key doesn’t exist.

In [9]:
print(person["country"])

KeyError: 'country'

**Nested Dictionary**

In [10]:
students = {
    "Efe": {"age": 36, "course": "AI", "city": "Brighton"},
    "Mina": {"age": 29, "course": "Data Science", "city": "London"},
    "Jack": {"age": 32, "course": "Robotics", "city": "Manchester"}
}

In [11]:
for name, info in students.items():
    print(f"Student: {name}")
    print(f"Age: {info['age']}")
    print(f"Course: {info['course']}")
    print(f"City: {info.get('city', 'Unknown')}")

Student: Efe
Age: 36
Course: AI
City: Brighton
Student: Mina
Age: 29
Course: Data Science
City: London
Student: Jack
Age: 32
Course: Robotics
City: Manchester

In [12]:
for name, attributes in students.items():
    print(f"{name}'s details:")
    for key, value in attributes.items():
        print(f"{key}: {value}")
    print()

Efe's details:
age: 36
course: AI
city: Brighton

Mina's details:
age: 29
course: Data Science
city: London

Jack's details:
age: 32
course: Robotics
city: Manchester

In [13]:
#If one student has missing info:
students["Mina"].pop("city")

'London'

In [14]:
for name, info in students.items():
    print(f"{name} is from {info.get('city', 'Unknown')}")

Efe is from Brighton
Mina is from Unknown
Jack is from Manchester

Update or Add New Attributes While Looping

In [15]:
for name, info in students.items():
    if info.get("course") == "AI":
        info["status"] = "Advanced"
    else:
        info["status"] = "Beginner"

In [16]:
for name, info in students.items():
    print(name, ":", info)

Efe : {'age': 36, 'course': 'AI', 'city': 'Brighton', 'status': 'Advanced'}
Mina : {'age': 29, 'course': 'Data Science', 'status': 'Beginner'}
Jack : {'age': 32, 'course': 'Robotics', 'city': 'Manchester', 'status': 'Beginner'}

**Count or Filter items in nested dictionaries**

In [17]:
students = {
    "Efe": {"age": 36, "course": "AI", "city": "Brighton"},
    "Mina": {"age": 29, "course": "Data Science", "city": "London"},
    "Ali": {"age": 32, "course": "Robotics", "city": "Manchester"},
    "Sara": {"age": 27, "course": "AI", "city": "Brighton"}
}

In [18]:
# Filter students older than 30
for name, info in students.items():
    if info["age"] > 30:
        print(f"{name} is {info['age']} years old.")

Efe is 36 years old.
Ali is 32 years old.

In [19]:
# Count students in a specific city
count = 0
for info in students.values():
    if info.get("city") == "Brighton":
        count += 1

print(f"There are {count} students in Brighton.")

There are 2 students in Brighton.

In [20]:
# Collect names of students studying AI
ai_students = []

for name, info in students.items():
    if info["course"] == "AI":
        ai_students.append(name)

print(ai_students)

['Efe', 'Sara']

In [21]:
older_students = {name: info for name, info in students.items() if info["age"] > 30}

print(older_students)

{'Efe': {'age': 36, 'course': 'AI', 'city': 'Brighton'}, 'Ali': {'age': 32, 'course': 'Robotics', 'city': 'Manchester'}}

In [22]:
for name, info in students.items():
    course = info.get("course", "Unknown")
    city = info.get("city", "Unknown")
    print(f"{name} studies {course} in {city}.")

Efe studies AI in Brighton.
Mina studies Data Science in London.
Ali studies Robotics in Manchester.
Sara studies AI in Brighton.

Count how many students per course

In [23]:
course_count = {}

for info in students.values():
    course = info["course"]
    course_count[course] = course_count.get(course, 0) + 1

print(course_count)

{'AI': 2, 'Data Science': 1, 'Robotics': 1}

**Sorting, updating, merging, and copying dictionaries**

In [24]:
students = {
    "Efe": {"age": 36, "course": "AI", "city": "Brighton"},
    "Mina": {"age": 29, "course": "Data Science", "city": "London"},
    "Ali": {"age": 32, "course": "Robotics", "city": "Manchester"},
    "Sara": {"age": 27, "course": "AI", "city": "Brighton"}
}

Updating a Dictionary

In [25]:
students["Ali"]["age"] = 33
students["Mina"]["grade"] = "A"
students["Zara"] = {"age": 25, "course": "AI", "city": "Oxford"}
print(students["Mina"])

{'age': 29, 'course': 'Data Science', 'city': 'London', 'grade': 'A'}

.update() method

In [26]:
students["Efe"].update({"age": 37, "city": "London"})
print(students["Efe"])

{'age': 37, 'course': 'AI', 'city': 'London'}

Merging Two Dictionaries

In [27]:
extra_students = {
    "John": {"age": 30, "course": "AI", "city": "Bristol"},
    "Mina": {"age": 29, "course": "Data Science", "city": "Leeds"}
}

students.update(extra_students)

In [29]:
students = students | extra_students # Python 3.9+ also supports

Copying Dictionaries

In [30]:
copy_students = students.copy()

In [35]:
copy_students["Efe"]["age"] = 99
print(students["Efe"]["age"])  # also changes because inner dicts are linked

99

In [31]:
# Deep copy (if nested dictionaries inside)
import copy
deep_students = copy.deepcopy(students)

In [34]:
deep_students["Efe"]["age"] = 99
print(students["Efe"]["age"])  # remains original

99

Sorting Dictionaries

In [36]:
for name in sorted(students.keys()):
    print(name)

Ali
Efe
John
Mina
Sara
Zara

In [37]:
# Sort by a specific value
sorted_students = dict(sorted(students.items(), key=lambda item: item[1]["age"]))

In [39]:
for name, info in sorted_students.items():
    print(name, ":", info["age"])

Zara : 25
Sara : 27
Mina : 29
John : 30
Ali : 33
Efe : 99

In [40]:
# reverse it with reverse=True in sorted()
# sorted(..., key=..., reverse=True)

Sort by multiple conditions

In [41]:
sorted_students = dict(sorted(
    students.items(),
    key=lambda item: (item[1]["course"], item[1]["age"])
))

Removing Entries

In [42]:
del students["Zara"] # remove key entirely
students.pop("John") # remove and return the value
students.clear()   # empties the dictionary